body {
    background-color: rgb(231, 142, 87);
}

#get-animals {
    margin-top: 20px;
}

button {
    color:coral
}

ol {
    background-color: rgb(254, 252, 252);
    color: rgb(33, 74, 186);
    width: 100px;
    border: 5px;
    border-style: groove
    
}